<mat-list role="list">
  <h3 mat-subheader>Components</h3>
  <mat-list-item *ngFor="let component of bundle">
    <img matListAvatar [src]="component['image']" alt="...">
    <h4 mat-line>{{component['article-title']}}</h4>
    <p mat-line> <a href="{{component['article-link']}}"> Click me for product details!</a> </p>
    <p mat-line>Price of product: {{component.price}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Cost without delivery charges</h3>
  <mat-selection-list #priceList1 [(ngModel)]="selectedOptions1" (ngModelChange)="selectedOptionsChange($event)">
    <mat-list-option [disabled]="obiRow1" [value]="{row:1,name:'obi',price:obiOverallPrice}">
      Overall Price if you buy it from place obi without delivery charges (public transport, walking):
      {{obiOverallPrice}} €
    </mat-list-option>
    <mat-list-option [disabled]="hornbachRow1" [value]="{row:1,name:'hornbach',price:hornbachOverallPrice}">
      Overall Price if you buy it from place hornbach without delivery charges (public transport, walking):
      {{hornbachOverallPrice}} €
    </mat-list-option>
  </mat-selection-list>
  <h4 mat-line>Overall Price without delivery charges: {{price}} €</h4>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Cost by online order</h3>

  <mat-selection-list #priceList2 [(ngModel)]="selectedOptions2" (ngModelChange)="selectedOptionsChange($event)">
    <mat-list-option [disabled]="obiRow2" [value]="{row:2,name:'obi',price:obiOverallPrice+obiDevliveryCost}">
      Overall Price by online order with delivery charges from obi: {{obiOverallPrice+obiDevliveryCost}} €
    </mat-list-option>
    <mat-list-option [disabled]="hornbachRow2" [value]="{row:2,name:'hornbach',price:hornbachOverallPrice+hornbachDeliveryCost}">
      Overall Price by online order with delivery charges from hornbach:
      {{hornbachOverallPrice+hornbachDeliveryCost}} €
    </mat-list-option>
  </mat-selection-list>
  <h4 mat-line>Overall Price by online order with delivery charges from all places: {{overAllPriceWithDeliveryCost}}
    €</h4>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Cost if you buy at store</h3>

  <mat-selection-list #priceList3 [(ngModel)]="selectedOptions3" (ngModelChange)="selectedOptionsChange($event)">
    <mat-list-option [disabled]="obiRow3" [value]="{row:3,name:'obi',price:obiOverallPrice+(costPerKM*30.00)*2}">
      Overall Price if you buy everything what available at the next obi-store:
      {{obiOverallPrice+(costPerKM*30.00)*2}} €
    </mat-list-option>
    <mat-list-option [disabled]="hornbachRow3" [value]="{row:3,name:'hornbach',price:hornbachOverallPrice+(costPerKM*25.00)*2}">
      Overall Price if you buy everything what available at the next hornbach-store:
      {{hornbachOverallPrice+(costPerKM*25.00)*2}} €
    </mat-list-option>
  </mat-selection-list>
  <h4 mat-line>Overall Price if you buy everything what available at all stores:
    {{price+(costPerKM*25)*2+(costPerKM*30.00)*2}} €</h4>
  <mat-divider></mat-divider>

  <h3 mat-subheader>Your Selected overall cost</h3>
    <p mat-line>Your selected Obi price: {{selectedObiPrice}} €</p>
    <p mat-line>Your selected Hornbach price: {{selectedHornbachPrice}} €</p>
    <h4 mat-line>Your selected overall price:
      {{selectedOverallPrice}} €</h4>
  <mat-divider></mat-divider>

  <mat-list-item>
    <h4 mat-line>Count of components: {{bundle.length}}</h4>
  </mat-list-item>
  <mat-list-item>
    Options selected: {{priceList1.selectedOptions.selected.length}}
    Options selected: {{priceList2.selectedOptions.selected.length}}
    Options selected: {{priceList3.selectedOptions.selected.length}}

  </mat-list-item>
  <mat-divider></mat-divider>
  <h4 mat-subheader>Shops Required to buy complete bundle and their respective shops in a map</h4>
</mat-list>
<small class="list-padding"> Click on a marker and you open a window where you can place a route</small>
<div class="list-padding" *ngFor="let item of distinctCompanies" fxLayout="column" fxLayoutAlign="center start">
  <img mat-line class="imgCompanyWidth" [src]="item">
  <iframe mat-line *ngIf="item.includes('obi')" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d42574.59164658119!2d16.307970412507093!3d48.16977769937193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sobi!5e0!3m2!1sde!2sat!4v1543740795290"
    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  <iframe *ngIf="item.includes('Hornbach')" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d85149.209784924!2d16.272950389670203!3d48.169761744192556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1shornbach!5e0!3m2!1sde!2sat!4v1543741047166"
    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>