<article fxLayout="column">
  <!-- header -->
  <header fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div>
          <img src="../assets/nira-logo.png" width="150" style="margin-top:70px;"/>
        </div>
        <form class="search-form">
          <mat-form-field class="search-full-width">
            <mat-label>Search for anything</mat-label>
            <input matInput aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                <img class="search-option-img" aria-hidden [src]="state.flag" height="25">
                <span>{{state.name}}</span> |
                <small>Population: {{state.population}}</small>
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>
          <button mat-stroked-button class="search-button" >
            <mat-icon matSuffix>search</mat-icon>
          </button>
          <mat-form-field>
            <mat-select placeholder="Selected Language" [(ngModel)]="selectedLanguage" name="languages">
              <mat-option *ngFor="let language of languages" [value]="language.value">
                {{language.viewValue}}
              </mat-option>
            </mat-select>

          </mat-form-field>

        </form>

      </mat-toolbar-row>
      <mat-toolbar-row>
        <div style="width: 150px;"></div>
        <div>
          <nav mat-tab-nav-bar fxShow="false" fxShow.gt-sm>
            <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
              {{link.label}}
            </a>
          </nav>
        </div>
        <div>
          <button mat-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
          </button>
          <!--https://stackoverflow.com/a/41882289/4315172-->
          <mat-menu x-position="before" #menu="matMenu">
            <button mat-menu-item *ngFor="let link of navLinks" routerLink="{{link.link}}">{{link.label}}</button>
          </mat-menu>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <!-- content -->
  <main fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center">
    <router-outlet></router-outlet>
  </main>

  <!-- footer -->
  <footer fxLayout="row" style="background:black; height: 200px;"></footer>
</article>
