.search-form {
    min-width: 150px;
    max-width: 1500px;
    width: 100%;
  }

  .search-full-width {
    width: 100%;
    margin-top: 30px;
  }
  
  .search-option-img {
    vertical-align: middle;
  }