.search-form {
    min-width: 150px;
    max-width: 1500px;
    width: 100%;
  }

  .search-full-width {
    width: 50%;
    margin-top: 30px;
  }
  
  .search-option-img {
    vertical-align: middle;
  }

  .search-button {
    height: 51.99074px;
    /* margin-left: 10px; */
    margin-right: 10px;
    bottom: 9px;
  }