<md-toolbar color="accent">
  <img src="../assets/coollogo_com-22234983.png" width="300px" fxFlexOffset.gt-sm="10"/>
  <nav md-tab-nav-bar fxShow="false" fxShow.gt-sm fxFlex.gt-sm="60">
    <a md-tab-link *ngFor="let link of navLinks"
       [routerLink]="link.link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
  <button md-button [mdMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
    <md-icon>menu</md-icon>
  </button>
  <!--https://stackoverflow.com/a/41882289/4315172-->
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item *ngFor="let link of navLinks" routerLink="{{link.link}}">{{link.label}}</button>
  </md-menu>
</md-toolbar>
  <div fxLayout="row" fxLayoutAlign="none none">

  </div>
  <router-outlet></router-outlet>
