<mat-list role="list">
  <h3 mat-subheader>Components</h3>
  <mat-list-item *ngFor="let component of bundle">
    <img matListAvatar [src]="component['image']" alt="...">
    <h4 mat-line>{{component['article-title']}}</h4>
    <p mat-line> {{component['article-link']}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Details of Bundle</h3>
  <mat-list-item>
    <h4 mat-line>Overall Price</h4>
    <p mat-line> {{price}} €</p>
  </mat-list-item>
  <mat-list-item>
    <h4 mat-line>Shops Required to buy complete bundle</h4>
    <div mat-line>
      <img mat-line class="imgCompanyWidth" *ngFor="let item of distinctCompanies" [src]="item">
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Maps</h3>
  <mat-list-item>
    <h4 mat-line>Maps Route to place</h4>
    <p mat-line>Maps</p>
  </mat-list-item>
</mat-list>