
<div fxLayout="row">
  <form fxFlexOffset.gt-sm="20">
    <p>You can contact me on :<a href="https://www.facebook.com/nico.grill.7?ref=bookmarks"><img style="height: 50px;width: auto" src="../../assets/if_social_facebook_button_blue_60825.png"/></a>
      <a href="https://twitter.com/Nirojan_"><img style="height: 50px;width: auto" src="../../assets/if_social_twitter_box_white_60858.png"/></a>
    <p>or directly:</p>
    <table >
      <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="First name">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Last Name">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Email" [formControl]="emailFormControl">
            <mat-error *ngIf="emailFormControl.hasError('pattern')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">

        </td>
      </tr>
    </table>
    <mat-form-field style="width : 100%;">
      <textarea matInput #message maxlength="500" placeholder="Message"></textarea>
      <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
    </mat-form-field>
    <button mat-fab><mat-icon>send</mat-icon></button>
  </form>
</div>
