<div fxLayout="column">
  <div fxLayout="row">
    <h1 fxFlex="60" fxFlexOffset.gt-xs="20" style="background-color: #00acc1">
      Nira-Solution
    </h1>
  </div>
  <div fxLayout="row" >
      <nav md-tab-nav-bar fxShow="false" fxShow.gt-xs fxFlexOffset.gt-xs="20" fxFlex="60">
        <a md-tab-link
           *ngFor="let link of navLinks"
           [routerLink]="link.link"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          {{link.label}}
        </a>
      </nav>
      <button md-button [mdMenuTriggerFor]="menu" fxHide="false" fxHide.gt-xs>
        <md-icon>menu</md-icon>
      </button>
    <!--https://stackoverflow.com/a/41882289/4315172-->
    <md-menu x-position="before" #menu="mdMenu">
     <button md-menu-item *ngFor="let link of navLinks" routerLink="{{link.link}}">{{link.label}}</button>
    </md-menu>
  </div>
  <router-outlet></router-outlet>
</div>
