

  .search-button {
    height: 50px;
  }
  .search-option-img {
    height: 48px;
  }

  .search-option-logo {
    height: 30px;
  }
  .find-me-icon {
    padding: 0 4px;
  }
  .mat-tab-label, .mat-tab-link {
    color: #ffffff;
  }
  #ffffff
h4 {
  margin-bottom: 10px;
}
.footer-seperator {
  padding-bottom: 9px;
}
mat-toolbar-row > form {
  padding-top: 30px;
}
.align-dropdown{
  display: inline-block;
} 
.padding-button-search {
  padding-top: 10px;
  padding-bottom: 10px; 
}
mat-option.mat-option {
  height: auto;
  margin: 1px;
}