.search-form {

    width: 100%;
  }

  .search-margin-top {
    margin-top: 30px;
  }
  
  .search-option-img {
    vertical-align: middle;
  }

  .search-button {
    height: 51.99074px;
    /* margin-left: 10px; */
    margin-right: 10px;
    bottom: 9px;
  }
  .find-me-icon {
    padding: 0 4px;
  }
  .mat-tab-label, .mat-tab-link {
    color: white;
  }
h4 {
  margin-bottom: 10px;
}
