<article fxLayout="column">
  <!-- header -->
  <header fxLayout="row">
    <div fxFlex="1 1 calc(130px)">
      <img src="../assets/bcp-logo.png" width="130" />
    </div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <form fxFlex="1 1 auto" [formGroup]='componentsForm'>
          <mat-form-field fxFlex="1 1 auto">
            <mat-label>Search for the component you wish to add to your bundle. Click link on the right side in the dropdown to filter after category</mat-label>
            <input matInput aria-label="component" [matAutocomplete]="auto" formControlName="componentInput">
            <div matSuffix fxLayout="row" fxLayoutAlign="end stretch">
              <mat-spinner *ngIf="isLoading" diameter=50 color="warn"></mat-spinner>
              <button mat-stroked-button class="search-button" (click)="getSearchResult(searchterm)">
                <mat-icon>search</mat-icon>
              </button>

            </div>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
              <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let component of filteredComponents" [value]="component" style="padding:0px;">
                  <div fxLayout="row" fxLayoutAlign="space-between center" >
                    <div fxFlex fxLayoutAlign="space-around center" (click)="chosenComponent(component)">
                      <img fxFlex="48px" class="search-option-img" aria-hidden [src]="component.image">
                      <small fxFlex="400px">{{component["article-title"]}}</small>
                      <small> - </small>
                      <small>{{component.price}}</small>
                      <img class="logo-float-right search-option-logo" (click)="chosenComponent(component)" aria-hidden
                        [src]="component.company">
                    </div>
                    <a fxFlex="250px" mat-button class="padding-button-search"  [routerLink]="['/component/list',component.category]">Category: {{component.category}}</a>
                  </div>

                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </mat-toolbar-row>
      <mat-toolbar-row fxLayout="row">
        <nav fxFlex mat-tab-nav-bar color="warn">
          <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">
            {{link.label}}
          </a>
        </nav>
        <div fxFlex="100px">
          <button mat-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-lg>
            <mat-icon>menu</mat-icon>
          </button>
          <!--https://stackoverflow.com/a/41882289/4315172-->
          <mat-menu x-position="before" #menu="matMenu">
            <button mat-menu-item *ngFor="let link of navLinks" routerLink="{{link.link}}">{{link.label}}</button>
          </mat-menu>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <!-- content -->
  <content>
    <router-outlet></router-outlet>
  </content>

  <!-- footer -->
  <footer>
    <mat-toolbar fxLayout="column" color="primary">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <a routerLink="developedBy/NicholasGrill" mat-flat-button color="primary">Developed: NG | Idea: TG</a>
          <a class="find-me-icon" href="https://www.facebook.com/nico.grill.7?ref=bookmarks">
            <img style="height: 15px;width: auto" src="../assets/if_social_facebook_button_blue_60825.png" />
          </a>
          <a class="find-me-icon" href="https://twitter.com/Nirojan_">
            <img style="height: 15px;width: auto" src="../assets/if_social_twitter_box_white_60858.png" />
          </a>
          <a class="find-me-icon" href="https://plus.google.com/u/0/104641832894762857402">
            <img style="height: 15px;width: auto" src="../assets/if_social_google_box_white_60829.png" />
          </a>
        </div>
        <div *ngIf="showBundleButton">
          <button (click)="showYourBundle()" class="align-button-footer" mat-raised-button color="warn">Show Components
            of your Bundle</button>
        </div>
        <div fxLayout="row">
          <a mat-flat-button color="primary" routerLink="site/notice">Legal Notice</a>
          <span class="footer-seperator">|</span>
          <a mat-flat-button color="primary">Privacy Policy</a>
          <span class="footer-seperator">|</span>
          <a mat-flat-button color="primary">Terms of Use</a>
          <!--         <mat-form-field>
            <mat-select placeholder="Selected Language" [(ngModel)]="selectedLanguage" name="languages">
              <mat-option *ngFor="let language of languages" [value]="language.value">
                <img class="search-option-img" aria-hidden [src]="language.flag" height="25"> {{language.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </footer>
</article>