

.align-button-footer {
  margin-bottom: 12px; 
}
  .search-button {
    height: 50px;
  }
  .search-option-img {
    vertical-align: middle;
  }

  .find-me-icon {
    padding: 0 4px;
  }
  .mat-tab-label, .mat-tab-link {
    color: #ffffff;
  }
  #ffffff
h4 {
  margin-bottom: 10px;
}
.footer-seperator {
  padding-bottom: 9px;
}
mat-toolbar-row > form {
  padding-top: 30px;
}