<mat-nav-list
  role="list">
  <mat-list-item 
  *ngFor="let component of components | 
  slice:pageEvent.pageIndex*pageEvent.pageSize:pageEvent.pageSize*(pageEvent.pageIndex+1);"
   role="listitem" (click)="chosenComponent(component)">
      <img matListAvatar [src]="component.image" alt="...">
      <h3 matLine> {{component['category']}} </h3>
      <p matLine>
        <span> {{component['article-title']}} </span>
        <span class="demo-2"> -- {{component.price}} </span>
      </p>
  </mat-list-item>
</mat-nav-list>
<mat-paginator [length]="pageEvent.length"
              [pageSize]="pageEvent.pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="onPageChange($event)">
</mat-paginator>