<div fxLayout="column">
  <mat-nav-list>
    <a *ngFor="let component of bundle; let i = index"  mat-list-item (click)="chosenComponent(component)">
      <span>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <img fxFlex="100px" class="article-img" [src]="component.image" />
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center">
              <h3>Component {{i+1}} from</h3>
              <img fxFlex="200px" class="company" [src]="component.company" />
            </div>
            <p>{{component['article-title']}}</p>
          </div>
        </div>
      </span>
    </a>
  </mat-nav-list>
  <button (click)="createBundle()" mat-raised-button color="warn">Create Bundle</button>
</div>