<nav fxFlex="2 1 25%"></nav>
<div fxFlex="3 2 50%">
  <mat-card>
    <mat-card-header>
      <div fxFlex="41%" fxFlexAlign="center">
        <mat-card-title>Worry-Free-Price</mat-card-title>
      </div>
      <div fxFlex="49%" fxFlexAlign="center">
        <mat-card-title>About us</mat-card-title>
      </div>
      <div fxFlex="10%" fxFlexAlign="start">
        <mat-card-title mat-card-avatar class="nira-header-image"></mat-card-title>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayoutAlign="center end">
      <img mat-card-image src="../../assets/PIXNIO-224981-4864x3283.jpg">
    </div>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let message of messagesAboutCompany">
          <mat-icon mat-list-icon>lens</mat-icon>
          <h5 mat-line style="font-weight:bold;"> {{message.from}} </h5>
          <p mat-line>
            <span> {{message.subject}} -- </span>
            <span class="mat-typography" [innerHTML]="message.content"> </span>
          </p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-divider style="padding-top:20px;"></mat-divider>
  <mat-card>
    <mat-card-header>
      <div fxFlex="41%" fxFlexAlign="center">
        <mat-card-title>CV</mat-card-title>
      </div>
      <div fxFlex="49%" fxFlexAlign="center">
        <mat-card-title>Nicholas Grill</mat-card-title>
      </div>
      <div fxFlex="10%" fxFlexAlign="start">
        <mat-card-title mat-card-avatar class="niko-header-image"></mat-card-title>
      </div>

    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list>
        <h3 mat-subheader>Education</h3>
        <mat-list-item *ngFor="let message of messagesEducation">
          <mat-icon mat-list-icon>lens</mat-icon>
          <h5 mat-line > {{message.from}} </h5>
          <p mat-line>
            <span> {{message.subject}} </span>
            <span class="demo-2"> -- {{message.content}} </span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Berufs-Erfahrung</h3>
        <mat-list-item *ngFor="let message of messagesJobExp">
          <mat-icon mat-list-icon>lens</mat-icon>
          <h4 mat-line> {{message.from}} </h4>
          <p mat-line>
            <span> {{message.subject}} </span>
            <span class="demo-2"> -- {{message.content}} </span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Projekte</h3>
        <mat-list-item *ngFor="let message of messagesProjects">
          <mat-icon mat-list-icon>lens</mat-icon>
          <h4 mat-line> {{message.from}} </h4>
          <p mat-line>
            <span> {{message.subject}} </span>
            <span class="demo-2"> -- {{message.content}} </span>
          </p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
<aside fxFlex="1 1 25%"></aside>
