<nav fxFlex="1 6 20%"></nav>
<mat-card fxFlex="3 1 60%">
  <mat-card-header>
    <mat-card-title>
      <h2>Indroduction</h2>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image style="width: 350px;" src="../assets/price-tag-374404_1920.jpg" />
  <mat-card-content>
    <p>
      Had you often worries about if you got the best price for the product you are trying to aquire? Here you are exactly right!
      You just have to put the product's name into the searchbar and we will check all our available sellers who have this
      product and look for you for the cheapest and best price. Perfect! No worries if you wasted your money.
    </p>
  </mat-card-content>
</mat-card>
<aside fxFlex="1 6 20%"></aside>