<h1>Ausbildung</h1>
<mat-list>
  <mat-list-item *ngFor="let message of messagesEducation">
    <mat-icon mat-list-icon>note</mat-icon>
    <h3 mat-line> {{message.from}} </h3>
    <p mat-line>
      <span> {{message.subject}} </span>
      <span class="demo-2"> -- {{message.content}} </span>
    </p>
  </mat-list-item>
</mat-list>
<h1>Berufs-Erfahrung</h1>
<mat-list>
  <mat-list-item *ngFor="let message of messagesJobExp">
    <mat-icon mat-list-icon>note</mat-icon>
    <h3 mat-line> {{message.from}} </h3>
    <p mat-line>
      <span> {{message.subject}} </span>
      <span class="demo-2"> -- {{message.content}} </span>
    </p>
  </mat-list-item>
</mat-list>
<h1>Projekte</h1>
<mat-list>
  <mat-list-item *ngFor="let message of messagesProjects">
    <mat-icon mat-list-icon>note</mat-icon>
    <h3 mat-line> {{message.from}} </h3>
    <p mat-line>
      <span> {{message.subject}} </span>
      <span class="demo-2"> -- {{message.content}} </span>
    </p>
  </mat-list-item>
</mat-list>
