.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }
  .mat-list .mat-list-item .mat-list-icon {
    font-size: 14px;
  }
  .mat-list .mat-list-item {
    font-size: 14px;
  }
  .mat-card-image {
    width: calc(50% + 48px);
    margin: 0 -24px 16px -24px;
}
.niko-header-image {
  background-image: url('/assets/niko.jpg');
  background-size: cover;
}