<nav fxFlex="1 6 10%"></nav>
<mat-card fxFlex="3 1 40%">
  <mat-card-header>
    
    <mat-card-title>About Nira Solution</mat-card-title>
  </mat-card-header>
  <div fxLayout="row" fxLayoutAlign="center end">
    <img mat-card-image src="../../assets/PIXNIO-224981-4864x3283.jpg">
  </div>
  <mat-card-content>
    <p>
      Für die Nira-Solution ist die Kundenzufriedenheit ein absoluter muss. Wir bemühen uns eine möglichst rasche, effiziente und sinnvolle Lösung für das Problem zu finden.
      Außer Dienstleistungen und Software Lösungen bieten wir außerdem einen Online-Shop an. In unserer Suche bieten wir eine Firmen übergreifende Suche an.
       Das heißt wenn sie bei uns nach einen Artikel suchen, werden gleichzeitig mehrere Shops ausgewählt und dort wo das gesuchte Produkt am billigsten ist, wird es
       in der Liste auf die höchste Reihe geschoben. Auf der Toolbar ganz oben sehen Sie die Suchleiste, wo sie das gewünschte Produkt suchen können. Je nach wunsch können Sie
       natürlich kategorisieren beziehungsweise die Produkte Sortieren.
    </p>
  </mat-card-content>
</mat-card>
<mat-card fxFlex="3 1 40%">
  <mat-card-header>
    <div fxFlex="41%" fxFlexAlign="center">
        <mat-card-title >Lebenslauf</mat-card-title>
    </div>
    <div fxFlex="49%" fxFlexAlign="center">
        <mat-card-title >Nicholas Grill</mat-card-title>
    </div>
    <div fxFlex="10%" fxFlexAlign="end">
        <mat-card-title mat-card-avatar class="niko-header-image"></mat-card-title>
    </div>
    
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list>
      <h3 mat-subheader>Ausbildung</h3>
      <mat-list-item *ngFor="let message of messagesEducation">
        <mat-icon mat-list-icon>lens</mat-icon>
        <h5 mat-line> {{message.from}} </h5>
        <p mat-line>
          <span> {{message.subject}} </span>
          <span class="demo-2"> -- {{message.content}} </span>
        </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Berufs-Erfahrung</h3>
      <mat-list-item *ngFor="let message of messagesJobExp">
        <mat-icon mat-list-icon>lens</mat-icon>
        <h4 mat-line> {{message.from}} </h4>
        <p mat-line>
          <span> {{message.subject}} </span>
          <span class="demo-2"> -- {{message.content}} </span>
        </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Projekte</h3>
      <mat-list-item *ngFor="let message of messagesProjects">
        <mat-icon mat-list-icon>lens</mat-icon>
        <h4 mat-line> {{message.from}} </h4>
        <p mat-line>
          <span> {{message.subject}} </span>
          <span class="demo-2"> -- {{message.content}} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<aside fxFlex="1 6 10%"></aside>
